* {
    background-color: #595959;
    color: #ffffff;
}

#header-container {
    display: flex;
    justify-content: center;
}

#header {
    border: 5px outset #ffffff;
    width: 400px;
}

#enemy-field-container {
    display: flex;
    justify-content: center;
}

#enemy-field {
    border:2px solid #000000;
    padding: 15px;
    width: 200px;
}
#enemyFort {
    padding: 15px;
}

#field-container {
    display: flex;
    justify-content: center;
}

#battleField {
    height: 200px;
    width: 800px;
}

#user-field-container {
    display: flex;
    justify-content: center;

}

#user-field {
    border:2px solid #000000;
    padding: 15px;
    width: 200px;
}

#userFort {
    padding:15px;
}

#attack-container {
    display: flex;
    justify-content: center;;
}

.attack {
    width: 200px;
    border: 3px outset #ffffff;
    font-size: 16px;
}